<body dir="rtl">
   

    <div class="rishum  mat-elevation-z6">

        <h1>רישום</h1><br><br><br>

        <form [formGroup]="personFormG">

            <div class="optins">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button (change)='radio($event)' value="בן">זכר</mat-radio-button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-button (change)='radio($event)' value="בת">נקבה</mat-radio-button>
                </mat-radio-group><br><br><br><br>
            </div>
            <div class="rows">

                <div class="row1">

                    <div class="us1">
                        <label>שם פרטי :</label><br><br><br><br>
                        <label>שם משפחה :</label><br><br><br><br>
                        <label>ת.ז.</label><br><br><br><br>
                    </div>

                    <div class="us2">
                        <input #firstName formControlName="firstName"><br>
                        <span id="spanFirstName" ></span><br><br><br>
                        
                        <input #lastName formControlName="lastName"><br>
                        <span id='spanlastName'></span><br><br><br>
                        
                        <input #tZ formControlName="tZ"><br>
                        <span id='spanTz'></span><br><br><br>
                    </div>

                </div>

                <div class="row2">
                    <div class="us3">
                        <label>טלפון :</label><br><br><br><br>
                        <label>סיסמא :</label><br><br><br><br>
                        <label>אמייל:</label><br><br><br><br>
                    </div>

                    <div class="us4">
                        <input #phone formControlName="phone" ><br>
                        <span id='spanPhone'></span><br><br><br>

                        <input #password type="password" formControlName="password"><br>
                        <span id='spanPassword'></span><br><br><br>

                        <input #email type="email" formControlName="email"><br>
                        <span id='spanEmail'></span><br><br><br>
                    </div>



                </div>


            </div>
            <div class="birthday" style="display: flex;">

                <mat-form-field appearance="fill">
                    <mat-label>תאריך לידה</mat-label>
                    <input matInput [matDatepicker]="picker" (dateInput)='date($event)'>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field><br><br><br><br>
            </div>
        </form>



        <button id="next" (click)='sentStu(firstName,lastName,tZ,phone,password)' (click)='logim()' 
          [routerLink] = "perfect()">רישום</button>
    </div>



</body>