/* body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTmDuUkzaJBJGxQJ9JieUNEpU8SozZUIDFOJg&usqp=CAU');
} */

.rishum{
    width: 100%;
    height: 50px;
    background: lightgray;
    display: flex;
    text-align: center;  
}

.hider{
    width: 100%;
    height: 50px;
    background: lightgray;
    display: flex;
    justify-content: center;
}

h1{
    font-size: xx-large;
    margin: auto;
}

button{
    height: 50px;
    margin-left: 30px;
}

#rishum{
    background: darkcyan;
    margin-right: 25px; 
    width: 120px;
}

#user{
    background: darkkhaki;
    /* margin: auto; */
    width: 120px;
}

.menu{
    width: 100%;
    height: 70px;
    background: yellow;
    display: flex;
}

#search{
    padding-top: 10px;
}

.cls1{
    width: 10%;
}
.cls2{
    width: 10%;
}
.cls3{
    width: 10%;
}
.cls4{
    width: 10%;
}
.cls5{
    width: 10%;
}
.cls6{
    width: 10%;
}

.shop{
    margin-right: 45%;
}