<div class="logIn  mat-elevation-z6">
    <h1>כניסת משתמש</h1>
    <div class="rishum">
        <div class="user">
            <label>אמייל :</label><br><br><br>&nbsp;&nbsp;
            <label>סיסמא :</label><br><br><br>&nbsp;&nbsp;
        </div>

        <div class="pssword">
            <input><br><br><br>
            <input><br><br><br>
        </div>
    </div>
    <button>כניסה</button>
</div>


<!-- <form [formGroup]="personGrup" (ngSubmit)="onSubmitForm()">

    
        <input type="text" formControlName="emil">

        <input type="text" formControlName="password">

    <br><br>

    <button type="submit" [disabled]="!personFromG.valid">Submit</button>

</form> -->